*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
  margin: 0;
}

.container .ql-editor {
  width: 60%;
  min-height: 100vh;
  margin: 10px auto 10px auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 0.5rem;
}

.ql-toolbar.ql-snow{
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: #F3F3F3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}